{% extends "_base.html" %}

{% load static %}


{% block head %} 
    {% load static %}
    <title>Home</title>
{% endblock head %}


{% block main %}
    <div class="font-poppins h-[calc(100vh-10rem)] max-w-[800px] m-auto flex flex-col  justify-center items-center">

        <div class="text-center">
            <h1 class="text-4xl">
                BEGIN YOUR VOYAGE!
            </h1>
            <p class="mt-2 text-slate-700">
                Set sail on an exciting voyage with your new Django project.
            </p>
            <p class="mt-8 text-slate-700">
                Made with ❤️ By <a href="" class="underline">Zishan Kadri</a>
            </p>
        </div>

    </div>
{% endblock main %}
